Django==1.7.4
django-classy-tags==0.6.1
django-cms==3.0.10
django-extensions==1.7.3
django-mptt==0.6.1
django-sekizai==0.8.1
djangocms-admin-style==0.2.5
djangocms-picture==0.1
djangocms-text-ckeditor==2.4.3
docutils==0.12
gunicorn==19.2.1
html5lib==0.999
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.7.0
psycopg2==2.6
Pygments==2.0.2
setproctitle==1.1.8
six==1.9.0
South==1.0.2
Werkzeug==0.11.11
