@import "settings";
@import "foundation";

// @font-face {
//     font-family: Delicious;
//     src: url('"http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
// } 

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Page components
div.page-wrapper {
    min-height: 100%;
    height: 100%;
    position: relative;
}

footer.page-footer {
    min-height: 15rem;
    background: #333;
    color: #FFF;

    div.footer {
        padding: 5rem 0.5rem 3rem 0.5rem;

        @media #{$small-only} {
            padding: 3rem 0.5rem 3rem 0.5rem;
        }

        p {
            margin-bottom: 0;
        }


    }
}

a.parent-link {
    display: none !important;
}


div.social-media {
    text-align: center;
    float: right;

    @media #{$small-only} {
        text-align: left;
        float: none;
        margin-top: 1.5rem;
    }

    div.social-media-top {
        border-bottom: 1px solid #FFF;
        padding-bottom: 0.25rem;
    }

    div.social-media-buttons {

        ul {
            list-style-position: inside;
            margin: 0;

            li {
                font-size: 1.5rem;
                min-width: 2.875rem;
                margin-left: 0;
                float: none;
                display: inline-block;

                a {
                    color: #FFF;
                }

                a:hover {
                    color: #0078a0 !important;
                }
            }
        }
    }
}

// Background image plugin
div.background-image {
    height: 25rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1, h2 {
        margin: 0;
        color: #FFF;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    div.headers {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        margin-right: -50%;
    }
}

// Content section plugin
div.content-section {
    margin: 5rem auto;
    max-width: 960px;
}

// Three columns plugin
div.three-columns-plugin {
    padding-top: 2rem;
    text-align: left;

    div.large-4 {
        margin-bottom: 2rem;
    }
}

//Block quote plugin
div.block-quote-plugin {
    blockquote {
        margin: 1rem 2rem;

        @media #{$small-only} {
            margin: 1rem 0 1rem 1rem;
        }

        footer {
            text-align: right;
            font-weight: 600;

            @media #{$small-only} {
                margin-top: 0.5rem;
            }

            span:before {
                content: "\2014\0020";
            }
        }
    }
}

div.home-page-plugin-2 {
    height: 100%;
    width: 100%;

    div.header {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: #FFF;

        @media #{$small-only} {
            left: 0.5rem;
            margin-right: 0.5rem;
        }

        img {
            max-width: 500px;

            @media #{$small-only} {
                max-width: 100%;
            }
        }

        h1, h2 {
            color: #000;
        }

        h1 {
            font-size: 2rem;
            margin-top: 0.75rem;
            margin-bottom: 0;

            @media #{$small-only} {
                font-size: 1.25rem;
                margin-top: 1.25rem;
            }
        }

        h2 {
            font-size: 1.25rem;
            margin-top: 0;

            @media #{$small-only} {
                font-size: 1rem;
            }
        }
    }

    div.homepage-social-media {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        @media #{$small-only} {
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            list-style-position: inside;
            margin: 0;
            padding-right: 10px;
            font-size: 2rem;

            @media #{$small-only} {
                padding: 0;
                text-align: center;
            }

            li {

                a {
                    color: #FFF;
                    text-shadow: 0 0 5px #000, 0 0 10px #000;
                }

                a:hover {
                    color: #0078a0 !important;
                }

                @media #{$small-only} {
                    float: none;
                    display: inline-block;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}
//
//// Home Page Plugin
//div.home-page-plugin {
////    min-height: 100%;
//    width: 100%;
//    margin: 0;
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
//    position: relative;
//
//    div.content-container {
//        color: #FFF;
//        padding: 0;
//
//        h1, h2, h3, p {
//            color: inherit;
//        }
//
//        h1 {
//            font-size: 4rem;
//        }
//
//        h2 {
//            font-size: 1.75rem;
//        }
//
//        p.description {
//            margin: 3rem 15rem;
//
//            @media #{$small-only} {
//                margin: 2rem 0;
//                font-size: 1.15rem;
//            }
//        }
//
//        div.slideshow-container {
//            max-width: 30rem;
//            height:auto;
//            margin: 0 auto;
//
//            @media #{$small-only} {
//                width: auto;
//            }
//        }
//
//        footer {
//            height: 8rem;
//            width: 100%;
//            position: absolute;
//            bottom: 0;
//            padding: 1rem 2rem;
//
//            @media #{$small-only} {
//                position: relative;
//                padding: 0;
//            }
//
//            div.footer-row {
//                width: 100%;
//
//                @media #{$small-only} {
//                    margin: 0;
//                }
//
//                div.social-media {
//                    @media #{$small-only} {
//                        margin-bottom: 1.5rem;
//                    }
//                }
//            }
//
//            div.address {
//                @media #{$small-only} {
//                    margin-bottom: 1.5rem;
//                }
//
//                p {
//                    margin-bottom: 0;
//                }
//            }
//        }
//    }
//}

nav.hovering-menu {
    position: absolute;
    top: 1rem;
    z-index: 100;
    background: none;

    @media #{$medium-up} {
        right: 1rem;
    }

    ul {
        margin: 0;

        li {
            background: none !important;

            a {
                color: #000 !important;
                background: none !important;
                font-size: 1rem !important;
            }

            a:hover {
                color: #FFF !important;
            }

            ul.dropdown {
                margin-left: 1.5rem;
            }
        }

        li.has-dropdown a:after {
            border-color: rgba(0, 0, 0, 1) transparent transparent transparent !important;
        }

        li.has-dropdown a:hover:after{
            border-color: rgba(255, 255, 255, 1) transparent transparent transparent !important;
        }

    }


}

div.fotorama__wrap {
    margin-left: auto;
    margin-right: auto;
}

// Navigation components
nav.top-bar {
    @media #{$medium-up} { 
        text-align: center;
    }
}

section.top-bar-section {
    @media #{$medium-up} { 
        display: inline-block;
    }
}

div.contact-form-plugin {
    p.contact-thank-you {
        display: none;
        margin-bottom: 6rem;
    }
}