@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Page components
div.page-wrapper {
    min-height: 100%;
    position: relative;
}

div.background-image {
    height: 25rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1, h2 {
        margin: 0;
        color: #FFF;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    div.headers {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        margin-right: -50%;
    }
}


div.content-section {
    margin: 5rem auto;
    max-width: 960px;
}

div.three-columns-plugin {
    padding-top: 2rem;
    text-align: left;
}


// Navigation components
nav.top-bar {
    @media #{$medium-up} { 
        text-align: center;
    }
}

section.top-bar-section {
    @media #{$medium-up} { 
        display: inline-block;
    }
}
