@import "settings";
@import "foundation";

// @font-face {
//     font-family: Delicious;
//     src: url('"http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
// } 

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Page components
div.page-wrapper {
    min-height: 100%;
    height: 100%;
    position: relative;
}

footer.page-footer {
    min-height: 15rem;
    background: #333;
    color: #FFF;

    div.footer {
        padding: 5rem 0.5rem 3rem 0.5rem;

        @media #{$small-only} {
            padding: 3rem 0.5rem 3rem 0.5rem;
        }

        p {
            margin-bottom: 0;
        }

        div.social-media {
            text-align: center;
            float: right;

            @media #{$small-only} {
                text-align: left;
                float: none;
                margin-top: 1.5rem;
            }

            div.social-media-top {
                border-bottom: 1px solid #FFF;
                padding-bottom: 0.25rem;
            }

            div.social-media-buttons {

                ul {
                    list-style-position: inside;
                    margin: 0;

                    li {
                        font-size: 1.5rem;
                        min-width: 2.875rem;
                        margin-left: 0;
                        float: none;
                        display: inline-block;

                        a {
                            color: #FFF;
                        }

                        a:hover {
                            color: #0078a0 !important;
                        }
                    }
                }
            }
        }
    }
}

// Background image plugin
div.background-image {
    height: 25rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1, h2 {
        margin: 0;
        color: #FFF;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    div.headers {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        margin-right: -50%;
    }
}

// Content section plugin
div.content-section {
    margin: 5rem auto;
    max-width: 960px;
}

// Three columns plugin
div.three-columns-plugin {
    padding-top: 2rem;
    text-align: left;

    div.large-4 {
        margin-bottom: 2rem;
    }
}

//Block quote plugin
div.block-quote-plugin {
    blockquote {
        margin: 1rem 2rem;

        @media #{$small-only} {
            margin: 1rem 0 1rem 1rem;
        }

        footer {
            text-align: right;
            font-weight: 600;

            @media #{$small-only} {
                margin-top: 0.5rem;
            }

            span:before {
                content: "\2014\0020";
            }
        }
    }
}

// Home Page Plugin
div.home-page-plugin {
//    min-height: 100%;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    div.content-container {
        color: #FFF;

        h1, h2, h3, p {
            color: inherit;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        p {
            margin: 3rem 15rem 0 15rem;
        }
    }
}

// Navigation components
nav.top-bar {
    @media #{$medium-up} { 
        text-align: center;
    }
}

section.top-bar-section {
    @media #{$medium-up} { 
        display: inline-block;
    }
}
