{% load wagtailimages_tags %}

<div class="header-block">
    <div class="header-block-content">
{#        <div >#}
            <h2 {% if forloop.counter0 == 1 %}class="unskew"{% endif %}>{{ value.title }}</h2>
            <h3 {% if forloop.counter0 == 1 %}class="unskew"{% endif %}>{{ value.description }}</h3>
{#        </div>#}
        <a class="btn btn-primary {% if forloop.counter0 != 1 %}skew{% endif %}" href="{{ value.link }}">
            <span class="unskew">Learn More</span>
        </a>
    </div>
</div>
