{% load wagtailimages_tags %}

{% image page.header_images.2.value min-550x300 as background_image_xs %}
{% image page.header_images.2.value min-768x1024 as background_image_sm %}
{% image page.header_images.2.value min-1366x768 as background_image_md %}
{% image page.header_images.2.value min-1440x900 as background_image_lg %}
{% image page.header_images.2.value min-1920x1200 as background_image_xl %}

<div id="header-block-{{ forloop.counter0 }}" class="header-block">
    <div style="position: relative; overflow: hidden;">
        <div class="padder">
            {% if forloop.counter0 == 1 %}
            <style>
                @media screen and (max-width: 479px) {
                    #header-img-container-{{ forloop.counter0 }} {
                        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ background_image_xs.url }}');
                    }
                }
                @media screen and (max-width: 991px) and (min-width: 480px) {
                    #header-img-container-{{ forloop.counter0 }} {
                        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ background_image_sm.url }}');
                    }
                }
                @media screen and (max-width: 1199px) and (min-width: 992px) {
                    #header-img-container-{{ forloop.counter0 }} {
                        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ background_image_md.url }}');
                    }
                }
                @media screen and (max-width: 1599px) and (min-width: 1200px) {
                    #header-img-container-{{ forloop.counter0 }} {
                        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ background_image_lg.url }}');
                    }
                }
                @media screen and (min-width: 1600px) {
                    #header-img-container-{{ forloop.counter0 }} {
                        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ background_image_xl.url }}');
                    }
                }
            </style>
            {% endif %}
            <div class="header-block-content">
                <h2 {% if forloop.counter0 == 1 %}class="unskew"{% endif %}>{{ value.title }}</h2>
                <h3 {% if forloop.counter0 == 1 %}class="unskew"{% endif %}>{{ value.description }}</h3>
                <a class="btn btn-primary {% if forloop.counter0 != 1 %}skew{% endif %}" href="{{ value.link }}">
                    <span class="unskew">Learn More</span>
                </a>

            </div>
        </div>
        {% if forloop.counter0 == 1 %}
            <div class="header-img-container" id="header-img-container-{{ forloop.counter0 }}">
            </div>
        {% endif %}
    </div>
</div>
