{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PL66NK');</script>
        <!-- End Google Tag Manager -->

        <!-- TM tracking snippet start -->
        <script>
        var TMTrack = ['d0e5ea97e81d', null, null, '//jss.trumeasure.com', null, window.location.protocol];
        (function () {
        var pe = document.currentScript; if (!pe) { pe = document.getElementsByTagName('head')[0]; } else {
        while (pe.tagName.toLowerCase() != 'body' && pe.tagName.toLowerCase() != 'head') { pe = pe.parentElement; } }
        TMTrack[2] = document.getElementsByTagName(pe.tagName)[0];
        var ns = document.createElement('script'); ns.async = 1; ns.src = TMTrack[5] + TMTrack[3] + '/Scripts/TMLoader.js'; TMTrack[2].appendChild(ns);
        })();
        </script>
        <!-- TM tracking snippet end -->

        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}?b={% now 'U' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/image-grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fotorama-4.6.4/fotorama.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'css/animsition.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script src="{% static 'js/modernizr-custom.js' %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PL66NK"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="animsition">
            {% wagtailuserbar %}

            {% block content %}{% endblock %}
            {% include 'footer.html' %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <script src="{% static 'fotorama-4.6.4/fotorama.js' %}"></script>
            <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
            <script src="{% static 'tilt/js/anime.min.js' %}"></script>
            <script src="{% static 'tilt/js/main.js' %}"></script>
            <script src="{% static 'js/animsition.min.js' %}"></script>
            <script>
                $(document).ready(function() {
                    $('.animsition').animsition();
                });
                (function() {
                    var tiltSettings = [
                        {},
                        {
                            movement: {
                                imgWrapper : {
                                    translation : {x: 10, y: 10, z: 30},
                                    rotation : {x: 0, y: -10, z: 0},
                                    reverseAnimation : {duration : 200, easing : 'easeOutQuad'}
                                },
                                lines : {
                                    translation : {x: 10, y: 10, z: [0,70]},
                                    rotation : {x: 0, y: 0, z: -2},
                                    reverseAnimation : {duration : 2000, easing : 'easeOutExpo'}
                                },
                                caption : {
                                    rotation : {x: 0, y: 0, z: 2},
                                    reverseAnimation : {duration : 200, easing : 'easeOutQuad'}
                                },
                                overlay : {
                                    translation : {x: 10, y: -10, z: 0},
                                    rotation : {x: 0, y: 0, z: 2},
                                    reverseAnimation : {duration : 2000, easing : 'easeOutExpo'}
                                },
                                shine : {
                                    translation : {x: 100, y: 100, z: 0},
                                    reverseAnimation : {duration : 200, easing : 'easeOutQuad'}
                                }
                            }
                        }
                    ];

                    function init() {
                        var idx = 0;
                        [].slice.call(document.querySelectorAll('a.tilter')).forEach(function(el, pos) {
                            idx = pos%2 === 0 ? idx+1 : idx;
                            new TiltFx(el, tiltSettings[idx-1]);
                        });
                    }

                    // Preload all images.
                    imagesLoaded(document.querySelector('body'), function() {
                        document.body.classList.remove('loading');
                        init();
                    });

                    // REMOVE THIS!
                    // For Demo purposes only. Prevent the click event.
{#                    [].slice.call(document.querySelectorAll('a[href="#"]')).forEach(function(el) {#}
{#                        el.addEventListener('click', function(ev) { ev.preventDefault(); });#}
{#                    });#}

{#                    var pater = document.querySelector('.pater'),#}
{#                        paterSVG = pater.querySelector('.pater__svg'),#}
{#                        pathEl = paterSVG.querySelector('path'),#}
{#                        paths = {default: pathEl.getAttribute('d'), active: paterSVG.getAttribute('data-path-hover')};#}
{#        #}
{#                    pater.addEventListener('mouseenter', function() {#}
{#                        anime.remove(pathEl);#}
{#                        anime({#}
{#                            targets: pathEl,#}
{#                            d: paths.active,#}
{#                            duration: 400,#}
{#                            easing: 'easeOutQuad'#}
{#                        });#}
{#                    });#}
{#        #}
{#                    pater.addEventListener('mouseleave', function() {#}
{#                        anime.remove(pathEl);#}
{#                        anime({#}
{#                            targets: pathEl,#}
{#                            d: paths.default,#}
{#                            duration: 400,#}
{#                            easing: 'easeOutExpo'#}
{#                        });#}
{#                    });#}
                })();

            </script>

            {# Global javascript #}
            <script type="text/javascript" src="{% static 'js/uav.js' %}"></script>

            {% block extra_js %}
                {# Override this in templates to add extra javascript #}
            {% endblock %}
        </div>
    </body>
</html>
