{% load static wagtailimages_tags %}
{% image footer.logo original as logo %}

<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <a href='/'>
                    <img alt="Brand" src="{{ logo.url }}" class="img-responsive">
                </a>
                <div class="description hidden-xs">
                    {{ footer.description }}
                </div>
            </div>
            <div class="col-sm-3">
                <address>
                    {{ footer.address_1 }}<br/>
                    <a href='tel:+19782705399'>{{ footer.address_2 }}</a><br/>
                    <a href='mailto:{{ footer.address_3 }}'>{{ footer.address_3 }}</a><br/>
                    {{ footer.address_4 }}
                </address>
            </div>
            <div class="col-sm-3">
                <div class="additional-text">
                    {{ footer.additional_text_1 }}<br/>
                    {{ footer.additional_text_2 }}
                </div>
                <div class="visible-xs">
                    <a href="/contact-us/" class="btn btn-primary skew">
                        <span class="unskew">contact us</span>
                    </a>
                </div>

                <div class="social-icons">
                    <a href="{{ footer.youtube }}" target="blank"><i class="fa fa-youtube-play"></i></a>&nbsp;
                    <a href="{{ footer.twitter }}" target="blank"><i class="fa fa-twitter"></i></a>&nbsp;
                    <a href="{{ footer.google }}" target="blank"><i class="fa fa-google-plus"></i></a>&nbsp;
                    <a href="{{ footer.facebook }}" target="blank"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="hidden-xs">
                    <a href="/contact-us/" class="btn btn-primary skew">
                        <span class="unskew">contact us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
