{% load cms_tags sekizai_tags staticfiles menu_tags %}
<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% page_attribute "page_title" %} | UAVLook</title>
{% render_block "css" %}
<link rel="stylesheet" href="{% static "stylesheets/app.css" %}" />
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
</head>
<body>

<div class="page-wrapper">
{% cms_toolbar %}
    <!-- Medium and Large screen navigation -->
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1 class="show-for-small"><a href="#">UAV Look</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                {% show_menu %}
            </ul>
        </section>
    </nav>

    <section class="main-section">
        {% block main_content %}
        <main>
            {% block page_content %}{% endblock %}
        </main>

        <footer>
            {% static_placeholder 'footer' %}
        </footer>
        {% endblock %}
    </section>
</div>

{% render_block "js" %}


    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script>
    <script src="{% static "bower_components/foundation/js/foundation/foundation.offcanvas.js" %}"></script>
    <script src="{% static "bower_components/foundation/js/foundation/foundation.topbar.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    </body>
</html>
