{% extends "home/home_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block page_content %}
    {% image page.header_image min-1920x900 as header_image %}
    <div class="contact-us content-page">
        <header style="background-image: url('{{ header_image.url }}')">
            <div class="shader">
                <div class="content">
                    <h1>{{ page.header_text }}</h1>
                    <a class="btn btn-primary" href="">
                        <span>Call Us</span>
                    </a>
                </div>
            </div>
        </header>
        <section>
            <div class="description hero">
                {{ page.description|richtext }}
            </div>
        </section>
        <main class="form-container">
            <form action="{% pageurl page %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Name"
                                   value={{ form.name.value }}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email"
                                   value={{ form.email.value }}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone Number" maxlength="255"
                                   name="phone" value={{ form.phone.value }}>
                        </div>
                    </div>
                    <div class="col-md-6">
                                {{ form.fields | get_key_value:"inquiry-type" }}
                        <div class="form-group">
                            <select class="form-control"  name="inquiry-type">
                                <option>Inquiry Type</option>
                                {% for id, name in form.inquiry_type.field.choices %}
                                    <option value="{{ id }}"{% if form.inquiry_type.field.choices == d %} selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {{ form.as_p }}
                <input type="submit">
            </form>
        </main>
    </div>
{% endblock %}
