{% extends "home/home_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block page_content %}
    {% spaceless %}
        <div class="headers hidden-xs hidden-sm">
            {% for block in page.header_images %}
                {% include_block block %}
            {% endfor %}
            {% for block in page.headers %}
                {% include_block block %}
            {% endfor %}
        </div>
    {% endspaceless %}
    <div class="hero">
        {{ page.description|richtext }}
    </div>
{% endblock %}
