{% extends "home/home_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block page_content %}
    {% spaceless %}
        <div class="headers">
            <div class="images">
                {% for block in page.header_images %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="contents">
                {% for block in page.headers %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
    <div class="hero">
        {{ page.description|richtext }}
    </div>
{% endblock %}
