{% extends "base.html" %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="collapsed btn btn-link navbar-toggle-link"
                   data-toggle="collapse" data-target="#uav-navbar-collapse" aria-expanded="false">Menu</a>
                <a class="navbar-brand" href="/" style="padding: 0;">
                    <img alt="Brand" src="{% static 'image/UAV_Final_Logo-4 Transparent.png' %}"
                         class="img-responsive">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="uav-navbar-collapse">
                <ul class="nav navbar-nav">
                    {% include 'nav_menu_item.html' with name='About' path='/about/' %}
                    <li class="dropdown{% if request.path == '/photography/' or request.path == '/video/' %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Portfolio</a>
                        <ul class="dropdown-menu">
                            {% include 'nav_menu_item.html' with name='Photography' path='/photography/' %}
                            {% include 'nav_menu_item.html' with name='Video' path='/video/' %}
                        </ul>
                    </li>
                    {% include 'nav_menu_item.html' with name='Services' path='/services/' %}
                    {% include 'nav_menu_item.html' with name='Blog' path='/blog/' %}
                </ul>
                <span class="contact-us-container">
                    <a href="/contact-us/" class="btn btn-primary skew navbar-btn">
                        <span class="unskew">Contact Us</span>
                    </a>
                </span>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {% block page_content %}{% endblock %}
{% endblock %}
