{% extends "home/home_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block page_content %}
    {% image page.header_image min-1920x900 as header_image %}
    <div class="services content-page">
        <header style="background-image: url('{{ header_image.url }}')">
            <div class="shader">
                <div class="content">
                    <h1>{{ page.header_text }}</h1>
                    <div>
                        {{ page.header_description|richtext }}
                    </div>
                    <a class="btn btn-primary" href="">
                        <span>Learn More</span>
                    </a>
                </div>
            </div>
        </header>
        <section>
            <div class="description hero">
                {{ page.description|richtext }}
            </div>
        </section>
        <main class="content-sections">
            {% spaceless %}
                {% for section in page.service_sections.all %}
                    {% include 'home/snippets/service_page_section.html' %}
                {% endfor %}
            {% endspaceless %}
        </main>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        (function($) {

          /**
           * Copyright 2012, Digital Fusion
           * Licensed under the MIT license.
           * http://teamdf.com/jquery-plugins/license/
           *
           * @author Sam Sehnert
           * @desc A small plugin that checks whether elements are within
           *     the user visible viewport of a web browser.
           *     only accounts for vertical position, not horizontal.
           */

          $.fn.visible = function(partial) {

              var $t            = $(this),
                  $w            = $(window),
                  viewTop       = $w.scrollTop(),
                  viewBottom    = viewTop + $w.height(),
                  _top          = $t.offset().top,
                  _bottom       = _top + $t.height(),
                  compareTop    = partial === true ? _bottom : _top,
                  compareBottom = partial === true ? _top : _bottom;

            return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

          };

        })(jQuery);

        var win = $(window);

        var allMods = $(".service-page-section");

        allMods.each(function(i, el) {
          var el = $(el);
          if (el.visible(true)) {
            el.addClass("already-visible");
          }
        });

        win.scroll(function(event) {

          allMods.each(function(i, el) {
            var el = $(el);
            if (el.visible(true)) {
              el.addClass("come-in");
            }
          });

        });
    </script>
{% endblock %}
