/* Navbar */
nav.navbar {
    margin-bottom: 0;
}

ul.nav.navbar-nav {
    text-transform: uppercase;
    font-size: 26px;
}

a.navbar-brand img {
    max-height: 158px;
}

.skew {
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.unskew {
    -ms-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
    /*display: inline-block;*/
}

.btn {
    text-transform: uppercase;
    padding: 12px 24px;
}

.btn .unskew {
    display: inline-block;
}

/* End Navbar */
.headers {
    overflow: hidden;
    white-space: nowrap;
    position: relative;

}

.headers .header-block {
    position: absolute;
    color: #FFF;
    top: 0;
    text-align: center;
    white-space: normal;
    width: 33%;

}
.headers .header-block h2 {
    margin-bottom: 4rem;
}
.headers .header-block h3 {
    margin-bottom: 4rem;
}

.headers .contents .header-block:nth-child(1) {
    left: 0;
}
.headers .contents .header-block:nth-child(2) {
    left: 33%;
    background-color: #E8E7E1;
    color: #242422;
    height: 100%;
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.headers .contents .header-block:nth-child(2) h3 {
    color: #959284;
}
.headers .contents .header-block:nth-child(3) {
    left: 66%;
}

.headers .header-block-img {
    width: 50%;
    display: inline-block;
    white-space: normal;
    overflow: hidden;
}

.headers .header-block-img img {
    filter: brightness(50%);
}

.hero {
    background-color: #C19C00;
    color: #FFF;
    font-size: 18px;
    padding: 5rem 0;
    text-align: center;
}

@media (min-width: 1800px) {
    .headers {
        height: 78rem;
    }

    .header-block {
        padding: 18rem 8rem;
    }

    .headers .header-block h2 {
        font-size: 70px;
        font-weight: 700;
    }
    .headers .header-block h3 {
        font-size: 36px;
    }
    .headers .header-block .btn {
        font-size: 24px;
        margin-top: 2rem;
    }
    .hero {
        font-size: 40px;
        padding: 10rem 20rem;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1799px) {
    .headers {
        height: 56rem;
    }
    .header-block {
        padding: 10rem 8rem;
    }
    .headers .header-block h2 {
        font-size: 50px;
        font-weight: 700;
    }
    .headers .header-block h3 {
        font-size: 26px;
    }
    .headers .header-block .btn {
        font-size: 20px;
        margin-top: 1rem;
    }
    .hero {
        font-size: 40px;
        padding: 10rem 20rem;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .headers {
        height: 42rem;
    }
    .header-block {
        padding: 6rem;
    }
    .headers .header-block h2 {
        font-size: 32px;
        font-weight: 700;
    }
    .headers .header-block h3 {
        font-size: 22px;
    }
    .headers .header-block .btn {
        font-size: 16px;
        margin-top: 1rem;
    }
    .hero {
        font-size: 28px;
        padding: 8rem;
    }
}



/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    ul.nav.navbar-nav {
        font-size: 16px;
    }

    .headers {
        height: 33rem;
    }
    .header-block {
        padding: 6rem;
    }
    .headers .header-block h2 {
        font-size: 32px;
        font-weight: 700;
    }
    .headers .header-block h3 {
        font-size: 22px;
    }
    .headers .header-block .btn {
        font-size: 16px;
        margin-top: 1rem;
    }

    .hero {
        font-size: 22px;
        padding: 6rem;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .headers {
        height: 33rem;
    }
    .header-block {
        padding: 4rem 2rem;
    }
    .headers .header-block h2 {
        font-size: 36px;
        font-weight: 700;
    }
    .headers .header-block h3 {
        font-size: 22px;
    }
    .headers .header-block .btn {
        font-size: 16px;
        margin-top: 1rem;
    }
    .hero {
        font-size: 22px;
        padding: 6rem;
    }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .headers {
        height: 40rem;
    }
    .header-block {
        padding: 4rem 2rem;
    }
    .headers .header-block h2 {
        font-size: 36px;
        font-weight: 700;
    }
    .headers .header-block h3 {
        font-size: 22px;
    }
    .headers .header-block .btn {
        font-size: 16px;
        margin-top: 1rem;
    }
    .hero {
        font-size: 22px;
        padding: 6rem;
    }
}


/* Specific media query for showing only the first header */
@media (max-width: 991px) {
    .headers .header-block, .headers .header-block-img {
        display: none;
    }
    .headers .images .header-block-img:nth-child(1) {
        display: block;
        width: 100%;
    }
    .headers .contents .header-block:nth-child(1) {
        display: block;
        width: 100%;
        text-align: center;
    }
}
