/* Navbar */
nav.navbar {
    margin-bottom: 0;
}

ul.nav.navbar-nav {
    text-transform: uppercase;
    font-size: 26px;
}

a.navbar-brand img {
    max-height: 158px;
}

.hero {
    background-color: #C19C00;
    color: #FFF;
    font-size: 18px;
    padding: 5rem 0;
    text-align: center;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .hero {
        font-size: 40px;
        padding: 10rem 0;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .hero {
        font-size: 28px;
        padding: 8rem 0;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    ul.nav.navbar-nav {
        font-size: 16px;
    }

    .hero {
        font-size: 22px;
        padding: 6rem;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
