/* Navbar */
nav.navbar {
    margin-bottom: 0;
}

ul.nav.navbar-nav {
    text-transform: uppercase;
    font-size: 26px;
}

a.navbar-brand img {
    max-height: 158px;
}

.skew {
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.unskew {
    -ms-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
    /*display: inline-block;*/
}

.btn {
    text-transform: uppercase;
    padding: 12px 24px;
}

.btn .unskew {
    display: inline-block;
}

/* End Navbar */
.headers {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 60rem;
}

.headers .header-block {
    position: absolute;
    color: #FFF;
    top: 0;
    text-align: center;
    white-space: normal;
    width: 33%;
    padding: 8rem 8rem;
}
.headers .header-block h2 {
    margin-bottom: 4rem;
}
.headers .header-block h3 {
    margin-bottom: 4rem;
}

.headers .header-block:nth-child(3) {
    left: 0;
}
.headers .header-block:nth-child(4) {
    left: 33%;
    background-color: #E8E7E1;
    color: #242422;
    height: 100%;
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.headers .header-block:nth-child(4) h3 {
    color: #959284;
}
.headers .header-block:nth-child(5) {
    left: 66%;
}

.headers .header-block-img {
    width: 50%;
    display: inline-block;
    white-space: normal;
    overflow: hidden;
}

.headers .header-block-img img {
    filter: brightness(50%);
}

.hero {
    background-color: #C19C00;
    color: #FFF;
    font-size: 18px;
    padding: 5rem 0;
    text-align: center;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .headers .header-block h2 {
        font-size: 50px;
    }
    .headers .header-block h3 {
        font-size: 30px;
    }
    .headers .header-block .btn {
        font-size: 20px;
    }
    .hero {
        font-size: 40px;
        padding: 10rem 0;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .hero {
        font-size: 28px;
        padding: 8rem;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    ul.nav.navbar-nav {
        font-size: 16px;
    }

    .hero {
        font-size: 22px;
        padding: 6rem;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
